.order-item{
    margin-top: 24px;
}
.order-item-top{
    display: flex;
    align-items: center;
}
.order-food-img{
border-radius: 50%;
width: 50px;
height: 50px;
margin-right: 8px;
}
.order-food-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 4px;
}
.order-food-price{
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
}

.order-food-qty{ 
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
background: #2D303E;
border: 1px solid #393C49;
border-radius: 8px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
}
.order-price-qty{
    margin-left: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 40px;
}
.order-form{
margin-top: 10px;
align-items: center;
vertical-align: middle;
display: flex;
justify-content: space-between;
}
.order-note{
padding: 14px;
background: #2D303E;
border: 1px solid #393C49;
border-radius: 8px;
color: #E0E6E9;
display: block;
/* display: flex; */
flex-grow: 1;
/* margin-right: 14px; */
}
.order-delete-btn{
    margin-left: 14px;
}


