.food-list-item{
/* max-width: 190px; */
background-color: #1F1D2B;
position: relative;
padding: 74px 24px 24px 24px ;
margin:0 10px;
margin-bottom: 60px;
border-radius: 16px;
cursor: pointer;
}
.food-name{
    font-weight: 500;
font-size: 14px;
line-height: 130%;
text-align: center;

}
.food-img{
border-radius: 50%;
position: absolute;
top: -36px;
}
.food-price{
    font-size: 14px;
    line-height: 140%;
text-align: center;
margin-top: 8px;
margin-bottom: 4px;
color: #ABBBC2;


}
.food-qoldiq{
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #ABBBC2;
}